.Tickets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .Tickets-finalizar {
    margin-left: auto;
  }
  
  .Tickets-ticket {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .Tickets-country {
    background-color: white;
    padding: 16px;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px dashed #4F54A7;
  }
  
  .Tickets-passengers {
    background-color: rgba(151, 149, 240, 0.5);
    padding: 20px 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-left: 1px dashed #4F54A7;
  }
  
  .Tickets-passengers p {
    margin: 2px;
  }
  
  .Tickets-passengers span {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 60px;
    color: #4F54A7;
    transform: rotate(-45deg);
  }

  .Tickets-dates {
    background-color: white;
    border-radius: 0 0 10px 10px;
  }